<h2>All Discounts</h2>

<br>

<% @discounts.each do |discount| %>
  <div id="bulkDiscount<%= discount.id %>">
    <ul>
      <li>Percentage Discount: <%= discount.percentage_discount %></li>
      <li>Quantity: <%= discount.quantity %></li>
      <li><%= link_to 'Delete Discount',  merchant_bulk_discount_path(merchant_id: discount.merchant.id, id: discount.id), method: :delete %></li>
      <li><%= link_to 'Discount Show Page',  merchant_bulk_discount_path(merchant_id: discount.merchant.id, id: discount.id) %></li>
    </ul>
  </div>
<br>
<% end %>

<br>

<h3><%= link_to 'Create New Discount', new_merchant_bulk_discount_path %></h3>

<br>

<% @holidays.next_three_holidays do |holiday| %>
  <ul>
    Name: <%= holiday.name %>
    Date: <%= holiday.date %>
  </ul>
<br>
<% end %>

