
<h2><%= @discount.percentage_discount %>% Discount for <%= @discount.quantity %> Items From <%= @discount.merchant.name %></h2>


Percentage Discount: <%= @discount.percentage_discount %>

<br>

Quantity: <%= @discount.quantity %>

<%= link_to 'Edit Discount', edit_merchant_bulk_discount_path %>




